.show-url {
  display: inline-block;
  width: 100%;
  height: 54px;
  margin-bottom: 0;
  margin-top: 25px;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: 12px 18px;
  font-size: 18px;
  line-height: 1.42857;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.social-round-icon{
  margin-left: 5px;
  margin-right: 5px;
}

.phone-input_group{
  background: red;
}

.phone-input{
  position: relative;
  width: 100%;
  min-width: 100%;
}

.iti, .iti--allow-dropdown, .iti--separate-dial-code{
  width: 100%;
}

.navbar-logo-img{
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-brand{
  display: flex;
  justify-content: center;
  align-items: center;
}

